In [3]:
import pandas as pd
import ydata_profiling

ImportError: cannot import name 'tarfile' from 'backports' (/home/hungle/miniconda3/envs/mlfastapi/lib/python3.8/site-packages/backports/__init__.py)

In [6]:
df = pd.read_csv("data/census.csv")

In [7]:
df.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [9]:
df = df.drop_duplicates().reset_index(drop=True)

NameError: name 'ydata_profiling' is not defined

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32537 entries, 0 to 32536
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32537 non-null  int64
 1    workclass       32537 non-null  object
 2    fnlgt           32537 non-null  int64
 3    education       32537 non-null  object
 4    education-num   32537 non-null  int64
 5    marital-status  32537 non-null  object
 6    occupation      32537 non-null  object
 7    relationship    32537 non-null  object
 8    race            32537 non-null  object
 9    sex             32537 non-null  object
 10   capital-gain    32537 non-null  int64
 11   capital-loss    32537 non-null  int64
 12   hours-per-week  32537 non-null  int64
 13   native-country  32537 non-null  object
 14   salary          32537 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:

df.select_dtypes(include=['object']).columns.tolist()

[' workclass',
 ' education',
 ' marital-status',
 ' occupation',
 ' relationship',
 ' race',
 ' sex',
 ' native-country',
 ' salary']